#Img1
{
    width: 50%;
    height: 60%;
}

body
{
    background-color: rgb(54, 54, 54);

    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
}

footer
{
    background-color: rgb(39, 38, 38);
    padding-top: 7px;
    padding-bottom: 7px;

    position: absolute;
    bottom: 0;
    width: 100%;
}
.foot-name
{
    color: white;
    opacity: .25;
}
